@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --green-main: #05AC6A;
  --green-secondary: #B4E5D1;
  --gray: #c5c6c6;
  --gray-text-color: #808080;
  --dark-text-color: #262626;
  --background-main: #E3E3E3;
}

body {
  margin: 0;
}


